*{
    font-size: 1.04em;
}

#drum-machine{
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
}

.panel{
    background-color: rgb(83, 85, 86);
    width: 60%;
    border: 2px solid rgb(112, 165, 32);
}

.action{
    margin-top: 5px;
    background-color: black;
}
.pad{
    
    padding: 10px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(3, 1fr);
}

.pad .drum-pad {
    width: 100%;
    height: 80px;
    outline: none;
    font-size: 24px;
    cursor: pointer;
}
  
.control{
    padding: 10px;
}